
config TEST_FUN2
	bool " test fun2"
	default y
	help	
	POSIX Access Control Lists (ACLs) support permissions for users and groups beyond the owner/group/world scheme.
	To learn more about Access Control Lists,visit the POSIX ACLs for Linux website <http://acl.bestbits.at/>.
	If you don't know what Access Control Lists are, say N.
